html{
	/* This image will be displayed fullscreen */
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('../assets/img/bg.jpg') no-repeat center center fixed;
	
	/* Ensure the html element always takes up the full height of the browser window */
	width: 100%;
    height: 100%;
	font-family: 'Roboto-Bold';
	/* The Magic */
	background-size:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

}


.plate{
	position: absolute;
	background: rgba(218,213,216,0.5);
	filter: alpha(opacity=30);
	height: auto%;
	top: 5%;
}

.logo img{
	width: 90%;
	height: auto;
}

.form-design{
	padding-top: 10%;
}

.form-class input{
	display: block;
	margin: 0 auto;
}

.form-class input[type="text"]{
<<<<<<< HEAD
    padding: 5% 15%;
    width: 100%;
    font-size: 9pt;
=======
    padding: 5% 10%;
    font-size: 1vw;
>>>>>>> origin/Luigie's-Branch
	margin-bottom: 1%;
	border: 0px solid transparent;
	box-shadow: 1px 1px 5px #888888;
}

.form-class input[type="submit"]{
	margin-top: 15%;
    padding: 5% 34%;
    width: 100%;
    background: #ff0000;
    border: 0px solid transparent;
    color: white;
    box-shadow: 1px 1px 5px #888888;
}

.form-class input::-webkit-input-placeholder {
padding-left: 2%;
}
 
.form-class input:-moz-placeholder { /* Firefox 18- */
padding-left: 2%;  
}
 
.form-class input::-moz-placeholder {  /* Firefox 19+ */
padding-left: 2%; 
}
 
.form-class input:-ms-input-placeholder {  
padding-left: 2%;
}

.instructions{
	position: absolute;
	margin-top: 10%;
	margin-left: 2%;
	line-height: 300%;
}

.instructions p{
	display: table;
}

.text{
	margin-left: 3%;
	color: white;
}

.help-div{
	margin-top: 15%;
}

.help{
	font-size: 8pt;
}

.help a{
	color: #ff0000;
}



.circle{
	padding: 15px 20px;
	border-radius: 50%;
	background: red;
	color: white;
}


