html{
	/* This image will be displayed fullscreen */
	
	/* Ensure the html element always takes up the full height of the browser window */
	width: 100%;
	

}

body{
	min-height:100%;
}


@font-face { font-family: 'Olivier-Demo'; src: url('../fonts/olivier_01.ttf'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'Roboto-Black'; src: url('../fonts/Roboto-Black.ttf'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'Roboto-BlackItalic'; src: url('../fonts/Roboto-BlackItalic.ttf'); font-weight: normal; font-style: italic;}

@font-face { font-family: 'Roboto-Bold'; src: url('../fonts/Roboto-Bold.ttf'); font-weight: bold; font-style: normal;}

@font-face { font-family: 'Roboto-BoldCondensed'; src: url('../fonts/Roboto-BoldCondensed.ttf'); font-weight: bold; font-style: normal;}

@font-face { font-family: 'Roboto-BoldCondensedItalic'; src: url('../fonts/Roboto-BoldCondensedItalic.ttf'); font-weight: bold; font-style: italic;}

@font-face { font-family: 'Roboto-BoldItalic'; src: url('../fonts/Roboto-BoldItalic.ttf'); font-weight: normal; font-style: italic;}

@font-face { font-family: 'Roboto-Condensed'; src: url('../fonts/Roboto-Condensed.ttf'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'Roboto-CondensedItalic'; src: url('../fonts/Roboto-CondensedItalic.ttf'); font-weight: normal; font-style: italic;}

@font-face { font-family: 'Roboto-Italic'; src: url('../fonts/Roboto-Italic.ttf'); font-weight: normal; font-style: italic;}

@font-face { font-family: 'Roboto-Light'; src: url('../fonts/Roboto-Light.ttf'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'Roboto-LightItalic'; src: url('../fonts/Roboto-LightItalic.ttf'); font-weight: normal; font-style: italic;}

@font-face { font-family: 'Roboto-Medium'; src: url('../fonts/Roboto-Medium.ttf'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'Roboto-MediumItalic'; src: url('../fonts/Roboto-MediumItalic.ttf'); font-weight: normal; font-style: italic;}

@font-face { font-family: 'Roboto-Regular'; src: url('../fonts/Roboto-Regular.ttf'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'Roboto-Thin'; src: url('../fonts/Roboto-Thin.ttf'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'Roboto-ThinItalic'; src: url('../fonts/Roboto-ThinItalic.ttf'); font-weight: normal; font-style: italic;}



.bg_img img{
 	min-height: 100%;
  	min-width: 1024px;
  	width: 100%;
  	height: auto;
  	position: fixed;
  	top: 0;
  	left: 0;
  	background-repeat:no-repeat;
	background-position: center top;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.bg_img{
	 background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}


/**   INDEX PAGE DESIGN   **/
/***************************/
/***************************/
/***************************/

.plate{
	position: absolute;
	background: rgba(218,213,216,0.5);
	filter: alpha(opacity=30);
	height: auto%;
	top: 5%;
}

.logo img{
	width: 50%;
	height: auto;
	padding-top: 5%;
}

.form-design{
	padding-top: 5%;
}

.form-class input{
	display: block;
	margin: 0 auto;
}

.form-class input[type="text"]{

    padding: 3% 4%;
    font-size: 10pt;
    font-family: "Roboto-Light";
	margin-bottom: 1%;
	border: 0px solid transparent;
	box-shadow: 1px 1px 5px #888888;
}

.form-class input[type="text"]:focus{
	margin-bottom: 1.2%;
	padding: 4% 6%;
}

.form-class input[type="submit"]{
	margin-top: 5%; 
	font-family: "Roboto-Light";
}

.submit{
	padding: 3% 5%;
    background: #ff0000;
    border: 0px solid transparent;
    color: white;
    text-align: center;
    box-shadow: 1px 1px 5px #888888;
}

.submit:hover{
	background: #b30000;
	transition: all 0.15s ease;
}

.form-class input::-webkit-input-placeholder {
padding-left: 2%;
}
 
.form-class input:-moz-placeholder { /* Firefox 18- */
padding-left: 2%;  
}
 
.form-class input::-moz-placeholder {  /* Firefox 19+ */
padding-left: 2%; 
}
 
.form-class input:-ms-input-placeholder {  
padding-left: 2%;
}

.instructions{
	position: relative;
	padding-top: 5%;
	line-height: 300%;
	display: block;
}

.instructions p{
	text-align: left;
	width: auto;
}

.text{
	margin-left: 3%;
	color: white;
	font-size: 2vh;
}

.help-div{
	margin-top: 110%;
}

.help{
	font-size: 8pt;
}

.help a{
	color: #ff0000;
}

.circle{
	padding: 15px 20px;
	border-radius: 50%;
	background: red;
	color: white;
}


/** END OF INDEX PAGE DESIGN **/
/******************************/
/******************************/
/******************************/
/******************************/
/**   DOWNLOAD PAGE DESIGN   **/

.book-img{
	margin-top: 2%;
}

.book-img img{
	width: 50%;
	height: auto;
	box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.59);
}

.top-download{
	font-size: 3vh;
	color: white;
	margin-top: 5%;
	font-family: "Roboto-Bold";
}

.book-img p{
	margin-top: 5%;
	font-family: "Roboto-Light";
	color: white;
	font-size: 2vh;
}

.author-title{
	font-style: italic;
	font-size: 12pt!important;
	margin-top: -5px!important;
}

.button-dl{
	background: red;
    border: 1px solid red;
    color: white;
    padding: 20px 50px;
    border-radius: 5px;
    font-size: 10pt;
    margin-top: 5%; 
}

.button-dl:hover{
	background: #b30000;
	border: 1px solid #b30000;
	transition: all 0.15s ease;
}

.access-text{
	color: white;
    font-size: 12pt;
    margin-top: 5%;
}

.access-text-2nd{
	color: white;
    font-size: 10pt;
    margin-top: 5%;
}

.button-dl-reminder{
	font-size: 1.5vh;
    color: white;
    margin-top: 2%;
}

.enjoy-text {
	margin-top: 5%;
    color: white;
    font-size: 5vh;
}

.trouble-design {
    color: white;
    font-size: 1.5vh;
    margin-top: 15%;
}

.trouble-design a{
	color: red;
}
