html{
	/* This image will be displayed fullscreen */
	
	/* Ensure the html element always takes up the full height of the browser window */
	width: 100%;
	font-family: 'Roboto-Bold';

}

body{
 min-height:100%;
 }

 .bg_img img{
 	  /* Set rules to fill background */
 	min-height: 100%;
  	min-width: 1024px;
	
  /* Set up proportionate scaling */
  	width: 100%;
  	height: auto;
	
  /* Set up positioning */
  	position: fixed;
  	top: 0;
  	left: 0;
  	background-repeat:no-repeat;
	background-position: center top;

 }


.plate{
	position: absolute;
	background: rgba(218,213,216,0.5);
	filter: alpha(opacity=30);
	height: auto%;
	top: 5%;
}

.logo img{
	width: 50%;
	height: auto;
	padding-top: 5%;
}

.form-design{
	padding-top: 5%;
}

.form-class input{
	display: block;
	margin: 0 auto;
}

.form-class input[type="text"]{

    padding: 3% 5%;
    font-size: 10pt;

	margin-bottom: 1%;
	border: 0px solid transparent;
	box-shadow: 1px 1px 5px #888888;
}

.form-class input[type="submit"]{
	margin-top: 5%; 
}
.submit{
	padding: 3% 5%;
    background: #ff0000;
    border: 0px solid transparent;
    color: white;
    text-align: center;
    box-shadow: 1px 1px 5px #888888;
}

.form-class input::-webkit-input-placeholder {
padding-left: 2%;
}
 
.form-class input:-moz-placeholder { /* Firefox 18- */
padding-left: 2%;  
}
 
.form-class input::-moz-placeholder {  /* Firefox 19+ */
padding-left: 2%; 
}
 
.form-class input:-ms-input-placeholder {  
padding-left: 2%;
}

.instructions{
	position: relative;
	padding-top: 5%;
	line-height: 300%;
	display: block;
}

.instructions p{
	text-align: left;
	width: auto;
}

.text{
	margin-left: 3%;
	color: #7F0E0E;
	font-size: 2vh;
}

.help-div{
	margin-top: 60%;
}

.help{
	font-size: 8pt;
}

.help a{
	color: #ff0000;
}



.circle{
	padding: 15px 20px;
	border-radius: 50%;
	background: red;
	color: white;
}


